html, body {
  background: #fff;
  color: #000;
  }

h1 {
  align-self: center;
  font-weight: lighter;
}

img {
  width: 100%;
  z-index: 0;
}

.nav-wrap {
  background: #0080FF;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

  .nav-item {
    background: black;
    display: inline;
    margin: 0 10px;
    padding: 10px;
    width: 100px;
  }

  .nav-link {
    color: #fff;
    text-decoration: none;
  }

    .nav-link:hover {
      color: yellow;
      font-size: 1.2em;
    }

.component-wrap {
  margin: 30px 30px 0 30px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
